body {
background: linear-gradient(to right, #ffd489, #ffda60);
font-family: 'Times New Roman', Times, serif;
text-align: center;
margin: 0;
padding: 20px;
}
h1 {
color: white;
background-color: #41d379;
padding: 15px;
border-radius: 10px;
text-shadow: 2px 2px 5px black;
}
p {
font-size: 18px;
color: #2fa05a;
background-color: white;
display: inline-block;
padding: 10px;
border-radius: 8px;
}
a {
display: inline-block;
margin-top: 15px;
padding: 10px 15px;
background-color: #2fa05a;
color: rgb(255, 255, 255);
text-decoration: none;
border-radius: 8px;
font-weight: bold;
}
a:hover {
background-color: #ffaa00;
}
address {
margin-top: 20px;
font-style: normal;
background-color: white;
padding: 10px;
border-radius: 8px;
}
img {
height: 300px;
margin-top: 20px;
border-radius: 15px;
box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
}
